body {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 overflow-x: hidden;
}
.headertop {
    padding: 2rem;
    display: flex;
    gap: 7rem;
}
.headerlist li {
 list-style: none;
}
.headerlist ul {
    display: flex;
 align-items: center;
 gap: 2rem;
}
.list {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.headerbtn {
    display: flex;
    align-items: center;
    gap :2rem;
}
.logo img {
    width :100%;
}
.mailbtn button {
    width: 273px;
 padding: 10px 39px 10px 10px;
 border-radius: 39px 39px 39px 39px;
 border: 1px 1px 1px 1px;
 opacity: 0px;
}
.mailbtn {
    color: white;
}
.subscribebtn button{
    width: 141px;
 height: Hug (54px)px;
 padding: 10px 38px 10px 10px;
 gap: 10px;
 border-radius: 35px 35px 35px 35px;
 opacity: 0px;
 text-align: center;
}
.subscribebtn {
    color:  #EF2779;
    align-items: center;
}
.header {
    display: flex;
     align-items: center;
     gap: 0rem;
}
.headertext h1 {
 font-family: Roboto;
 font-size: 55px;
 font-weight: 600;
 line-height: 65.5px;
 letter-spacing: 0.20000000298023224px;
 text-align: left;
 width: 90%;
 color: white;
}
.headertext h4 {
font-family: Roboto;
font-size: 16px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0.20000000298023224px;
text-align: left;
width : 80%;
color: white;
}
.trybtn button {
    width: 200px;
 height: 60px;
 padding: 10px 0px 10px 0px;
 border-radius: 35px 35px 35px 35px;
 opacity: 0px;
} 
.trybtn {
    margin-top: 4rem;
}
.container {
    background-image: url(/back.png);
}
.content{
    margin-top: 2rem;
}
.context h3 {
 font-family: Roboto;
 font-size: 22px;
 font-weight: 700;
 line-height: 33px;
 letter-spacing: 0.10000000149011612px;
 text-align: center;
}
.context h2 {
 font-family: Roboto;
 font-size: 46px;
 font-weight: 400;
 line-height: 57px;
 letter-spacing: 0.20000000298023224px;
 text-align: center;
}
.context h4 {
 font-family: Roboto;
 font-size: 16px;
 font-weight: 500;
 line-height: 20px;
 letter-spacing: 0.20000000298023224px;
 text-align: center;
}
.best {
    width: 100%;
}
.bested {
    display: flex;
    align-items: center;
}
.bestimg img {
    width: auto;
}
.bestimg {
    width: 20%;
}
.besttext h3 {
 font-family: Roboto;
 font-size: 20px;
 font-weight: 600;
 line-height: 30px;
 letter-spacing: 0.10000000149011612px;
 width: 70%;
}
.besttext {
    width: 100%;
}
.beste p {
 font-family: Roboto;
 font-size: 18px;
 font-weight: 400;
 line-height: 27px;
 letter-spacing: 0.20000000298023224px;
 text-align: left;
 width: 70%;
}
.bestcontent1 {
    width: 100%;
}
.bestcontent2 {
    width : 100%;
}
.bestcontent3 {
    width : 100%;
}
.bestcontent {
    display: flex;
    gap: 2rem;
    width: 70%;
    margin: auto;
    align-items: center
}
.content2 h2 {
 font-family: Roboto;
 font-size: 46px;
 font-weight: 400;
 line-height: 57px;
 letter-spacing: 0.20000000298023224px;
 text-align: center;
}
.content2 h4 {
 font-family: Roboto;
 font-size: 16px;
 font-weight: 400;
 line-height: 20px;
 letter-spacing: 0.20000000298023224px;
 text-align: center;
}
.content3 img {
    width: 100%;
}
.content3{
    width: 70%;
 height: Hug (685px)px;
 padding: 35.75px 0px 0px 0px;
 gap: 17.88px;
 opacity: 0px;
 text-align: center;
 margin: auto;
}
.intro h3 {
 font-family: Roboto;
 font-size: 22px;
 font-weight: 700;
 line-height: 33px;
 letter-spacing: 0.10000000149011612px;
 text-align: center;
}
.intro h2 {
 font-family: Roboto;
 font-size: 46px;
 font-weight: 400;
 line-height: 57px;
 letter-spacing: 0.20000000298023224px;
 text-align: center;
}
.news h3 {
 font-family: Roboto;
 font-size: 22px;
 font-weight: 700;
 line-height: 33px;
 letter-spacing: 0.10000000149011612px;
 text-align: center;
}
.news p {
 font-family: Roboto;
 font-size: 18px;
 font-weight: 400;
 line-height: 27px;
 letter-spacing: 0.20000000298023224px;
 text-align: center;
}
.inputed button {
    width:  353px;
 height: 50px;
 padding: 17px 35px 17px 35px;
 gap: 40px;
 border-radius: 35px 35px 35px 35px;
 opacity: 0px;
 background-color: #EF2779;
}
.inputed{
    text-align: center;
}
.content4 {
    background:  linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
    gap: 10px;
    opacity: 0px; 
    padding: 3rem 0rem 3rem 0rem; 
    margin-top: 3rem;  
}
.content5 {
    margin-top: 2rem;
}
.partnerscontent {
    margin-top: 2rem;
}
form input {
    width:  353px;
    height: 30px;
    padding: 10px 20px 10px 20px;
     /* gap : 40px; */
    border-radius: 35px 35px 35px 35px;
    opacity: 0px;
    /* text-align: center; */
    margin-bottom: 1rem;
}
form {
    text-align: center;
}
.testify {
    margin-top: 2rem;
}
.contented h2 {
 font-family: Roboto;
 font-size: 46px;
 font-weight: 400;
 line-height: 57px;
 letter-spacing: 0.20000000298023224px;
 text-align: center;
}
.contented h4{
 font-family: Roboto;
 font-size: 16px;
 font-weight: 700;
 line-height: 20px;
 letter-spacing: 0.20000000298023224px;
 text-align: center;
}
.clientname {
 font-family: Roboto;
 font-size: 12px;
 font-weight: 700;
 line-height: 18px;
 letter-spacing: 0.10000000149011612px;
 text-align: center;
}
.clientimg img{
    width: 100%;
}
.clientimg {
    text-align: center;
    width: 50%;
    margin: auto;
}
.clienttext{
 font-family: Roboto;
 font-size: 16px;
 font-weight: 400;
 line-height: 27px;
 letter-spacing: 0.20000000298023224px;
 text-align: center;
 width: 100%;
}
.partners1 {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    margin: auto;
    width: 50%;
    text-align: center;
}
.partners2 {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    margin: auto;
    width: 50%;
    text-align: center;
}
.partnersbtn button{
    width: 236px;
 height:  65px;
 padding: 16px 0px 16px 0px;
 border-radius: 35px 35px 35px 35px;
 text-align: center;
 background-color: #38A3F1;
 color: white;
 align-content: center;
}
.partnersbtn {
    align-items: center;
    text-align: center;
    margin: 2rem 0rem 8rem 0rem;
}
.test h2 {
 font-family: Roboto;
 font-size: 46px;
 font-weight: 400;
 line-height: 57px;
 letter-spacing: 0.20000000298023224px;
 text-align: center;
 margin-bottom: 3rem;
}
.teamed h4 {
 font-family: Roboto;
 font-size: 16px;
 font-weight: 700;
 line-height: 20px;
 letter-spacing: 0.20000000298023224px;
 text-align: center;
 width: 100%;
}
.more button {
    width: 280px;
 height: 65px;
 padding: 16px 47px 16px 47px;
 border-radius: 35px 35px 35px 35px;
 margin-top: 2rem;
 text-align: center;
 background-color:  #38A3F1;
 color: white;
}
.more {
    text-align: center;
    margin-bottom: 3rem;
}
.client {
    text-align: center;
}
.team {
    text-align: center;
}
.price {
    margin-top: 6rem;
}
.price h2{
 font-family: Roboto;
 font-size: 46px;
 font-weight: 400;
 line-height: 57px;
 letter-spacing: 0.20000000298023224px;
 text-align: center;
}
.price h4 {
 font-family: Roboto;
 font-size: 16px;
 font-weight: 700;
 line-height: 20px;
 letter-spacing: 0.20000000298023224px;
 text-align: center;
}
.pricecardtext h3{
    font-family: Roboto;
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;    
}
.pricecardtext h5 {
 font-family: Roboto;
 font-size: 12px;
 font-weight: 700;
 line-height: 18px;
 letter-spacing: 0.10000000149011612px;
 text-align: left;
}
.money h1 {
 font-family: Roboto;
 font-size: 55px;
 font-weight: 900;
 line-height: 65.5px;
 letter-spacing: 0.20000000298023224px;
 text-align: left;
}
.dollar h3{
    font-family: Roboto;
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;    
}
.dollar h5 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.10000000149011612px;
    text-align: left
}
.priced {
    display: flex;
    align-self: center;
}
.orderbtn button {
    width: 255px;
 height: 52px;
 padding: 18px 38px 18px 38px;
 gap: 10px;
 border-radius: 35px 35px 35px 35px;
 opacity: 0px;
 background: #38A3F1;
}
.orderbtn button :hover {
    border:  1px solid#38A3F1;
    background-color: white;
    color: rgba(239, 39, 121, 1);
}
.orderbtn{
    text-align: center;
    padding-right: 1rem;
}
.pricing {
    display: flex;
    gap: 2rem;
    text-align: center;
    margin: auto;
    width: 60%;
}
.pricing :hover {
  background: linear-gradient(3939.97deg, #EF2779 0.79%, #7834BE 79.29%);
 color: white;
}
.freepricecard {
    border: 1px solid #DEDEDE;
    box-shadow: 0px 13px 19px 0px #00000012;
    padding: 0rem 0rem 2rem 2rem;
}
.contacted h2 {
 font-family: Roboto;
 font-size: 46px;
 font-weight: 400;
 line-height: 57px;
 letter-spacing: 0.20000000298023224px;
 text-align: center;
}
.contacted h4 {
 font-family: Roboto;
 font-size: 16px;
 font-weight: 700;
 line-height: 20px;
 letter-spacing: 0.20000000298023224px;
 text-align: center;
}
.locationtext h5 {
 font-family: Roboto;
 font-size: 12px;
 font-weight: 600;
 line-height: 18px;
 letter-spacing: 0.10000000149011612px;
 width: 100%;
 text-align: left;
}
.locationimg img {
    width: auto;
}
.location {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.phonetext h5 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
}
.phone{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.phoneimg img {
    width: auto;
}
.mailtext h5 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
}
.mail{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.mailimg img {
    width: auto;
}
.contact2 {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 50%;
    margin: auto;
}
.contactimg img {
    width:100%;
}
.contactimg {
    width : 80%;
}
    

.contact {
    background: #252B42;
    color: white;
    padding-top: 2rem;
    margin-top: 2rem;
}
.footer {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.footerpage li {
    list-style: none;
 font-family: Roboto;
 font-size: 15px;
 font-weight: 400;
 line-height: 27px;
 letter-spacing: 0.20000000298023224px;
 text-align: left;
}
.contact3 {
    padding-top: 2rem;
}
.footend {
    display: flex;
    align-items: center;
    gap: 5rem;
}
